* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { 
    text-decoration: none;
}


:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
    font-size: 15px;
    --josefina: 'Josefin Sans', sans-serif;
    --alata: 'Alata', sans-serif;
}

body {
    font-family: var(--alata);
}

.grid {
    grid-template-columns: repeat(12, 1fr);
}

img {
    max-width: 100%;
}

.desktop {
    display: none;
}

/* ######### WRAPPER ###############X */


.wrapper {
    display: grid;
    /* 2rem as margin */
    grid-template-columns: 
    2rem repeat(10, 1fr) 2rem;
    position: relative;
}

header {
    grid-column: 1 /-1;
    grid-row: 1;
    display: grid;
    z-index: 999;
    grid-template-columns: 
    2rem repeat(10, 1fr) 2rem;
}
.hero-img {
    /* margin-not applied for hero img */
    grid-column: 1 /-1;
    grid-row: 1;
/* So that image expands when bigger screen size */
	width:100%
}

.logo {
    height: 100%;
    max-height: 30px;
    cursor: pointer;
}

.navbar,
.hero-text {
    grid-row: 1;
}

/* Navbar general */

.navbar{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}


.menu-item-link {
    color: var(--white);
}




/* Mobile navbar */

.navbar {
    position: relative;
}

/* Hide menu by default */
.menu {
    display: none;
}

/* Hide close button by default */
.close-menu-toggle {
    display: none;
}

/* When button is clicked show close icon */
.show .close-menu-toggle {
    display: block;
}

/*  When the menu is open dont display icon */
.show .open-menu-toggle {
    display: none;
}

/* Adds background color to navbar */
.show {
    background-color: var(--black);
}

.show .menu {
    display: block;
    position: absolute;
    top: 5rem;
    padding: 4rem 0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    text-align: center;

}

.show .menu-item {
    padding-bottom: 2rem;
}

.show .menu-item-link {
    text-transform: uppercase;
    font-family: var(--josefina);
    font-size: 1.8rem;
}

.intro {
    grid-column: 2 /-2;
    display: grid;
}
.gallery {
    grid-column: 2 /-2;
    display: grid;
    row-gap: 1rem;
    padding: 4rem 0;
}

.intro {
    padding: 7rem 0 4rem;
}


h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0 1rem;
}

.intro-text {
    text-align: center;
    color: var(--very-dark-gray);
    line-height: 1.5;
    width: 90%;
    margin: 0 auto;
}


.intro-container,
.intro-img {
    grid-column: 1/-1;
}

.gallery-title,
.img-wrapper {
    grid-column: 1/-1;
}

.img-wrapper {
    display: grid;
    margin-bottom: 1rem;
}

.img-description,
.gallery-img {
    grid-column: 1/-1;
    grid-row: 1;
}


.img-description {
    z-index: 2;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    align-self: end;
    padding: 0 0 .4em .4em ;
    line-height: 1.4;
}

.gallery-img {
    filter: brightness(.7)
}

.br {
    display: block;
}


/* Typography */

h1, h2, h3, .btn {
    font-family: var(--josefina);
    text-transform: uppercase;
}

.navbar,
.hero-text {
    grid-column: 1/-1;
    grid-row: 1;
}

.hero-text {
    grid-column: 2 /-2;
    color: var(--white);
    font-size: 2.8rem;
    border: 2px solid var(--white);
    place-self: center;
    padding: 1.1rem;
    line-height: 1;
}


.btn {
    padding: .7rem 2.7rem;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--black);
    color: var(--black);
    grid-column: 1 /-1;
    width: fit-content;
    justify-self: center;
}

footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--black);
    padding: 2rem;
}

footer .logo {
    margin: 1rem auto 0;
    height: 30px;
}
footer > * {
    grid-column: 1 /-1;
    text-align: center;
}


.footer-menu {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.footer-menu li {
    padding-bottom: 2rem;
}
.footer-menu li a {
    color: var(--white);
}

.social-icon-cont {
    display: flex;
    gap: 2rem;
    justify-self: center;
}

.copyright {
    color: var(--dark-gray);
    padding: 2rem 0;
}






/* Desktop navbar */
@media (min-width: 650px){

.desktop {
    display: block;
}
    
.mobile {
        display: none;
}

.menu {
    display: flex;
    gap: 3rem;
}

.open-menu-toggle,
.close-menu-toggle {
    display: none;
}

.gallery {
    gap: 2rem
}
.img-wrapper {
    grid-column: span 6;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.img-description {
    font-size: 1.7rem;
}


/* Hover actions */


.menu-item-link {
    padding: .3rem;
    border-bottom: 2px solid transparent;
}
.img-wrapper:hover > img {
    filter: brightness(.4)
}

.img-wrapper:hover > .img-description {
    font-weight: 500;
}
}

@media (min-width: 900px){

    .navbar {
        padding: 2rem 4rem;
    }
    .img-wrapper {
        grid-column: span 3;
        margin: 0;
    }

    .intro-img {
        grid-column: 1 /;
        grid-row: 1
    }
    
    .intro-container {
        grid-column: 7 /-1;
        grid-row: 1;
        align-self: end;
        background-color: var(--white);
        padding: 3rem 0 0 3rem;
    }

    .img-description {
        font-size: 2rem;
        padding: 1em;
    }
    
    .intro-text {
        line-height: 2;
    }
    .intro-title {
        font-size: 3rem;
    }
    .intro-title,
    .intro-text {
        width: 100%;
        text-align: left;
    
    }

    .wrapper,
    header {
        grid-template-columns: 
        4rem repeat(10, 1fr) 4rem;
    } 

    .hero-text {
        grid-column: 2 / 7;
        font-size: 4rem;
        padding: .5em;
    }

    .gallery-title {
        grid-column: 1 /-1;
        grid-row: 1;
        text-align: left;
        font-size: 3rem;
    }
    
    .btn {
        display: block;
        grid-column: 10/13;
        grid-row: 1;
        align-self: center;
    }
    
    footer {
        align-items: baseline;
    }

    footer .logo {
        grid-column: 1 /3;
        grid-row: 1;
    }

    .social-icon-cont {
        grid-column: 10/-1;
        grid-row: 1;
    }

    footer a,
    .social-icon-cont > * {
        border-bottom: 2px solid transparent;
        padding-bottom: .3rem;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        grid-column: 1 /6;
    }

    .copyright {
        grid-column: 7/-1;
        justify-content: right;
        text-align: right;
    }

}

.btn:hover {
    background-color: var(--black);
    color: var(--white);
}

a:hover {
    border-bottom: 2px solid transparent;
}

.menu-item-link:hover {
    border-color: var(--white);
}

footer a:hover {
    border-color: var(--white);
}




.attribution {
    padding: 2rem;
}

.attribution a {
    color: yellowgreen;
}
